<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if messages %}
            {%for message in messages%}
                {{message}}
            {%endfor%}
        {%endif%}
        <h1>Hello, you are student</h1>
        <h2>Your room is {{room}} in {{hall}}</h2>
        <h2>Your room rent is {{rent}}</h2>
        <h2>Your Amenity rent for the hall is {{sum_amenity}}</h2>
        <a href = "{% url 'main-logout' %}">Logout</a>
        
        <script src="" async defer></script>
    </body>
</html>