<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Employees</h1>
		<a href="{% url 'add-hallemployee' %}" class="btn btn-primary">Add Employee</a>
	    <table>
	    	<thead>
	    		<tr>
                    <th>ID</th>
	    			<th>Name</th>
	    			<th>Job</th>
	    			<th>Salary</th>
					<th>Edit</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		{% for employee in employees %}
	    		<tr>
                    <td>{{ employee.pk }}</td>
	    			<td>{{ employee.name }}</td>
	    			<td>{{ employee.job }}</td>
	    			<td>{{ employee.salary }}</td>
                    <td><a href="{% url 'edit-hallemployee' employee.pk %}">Edit</a></td>
					<td><a href="{% url 'leaves-hallemployees' pk=employee.pk %}">Leaves</a></td>
					<td><a href="{% url 'delete-hallemployee' employee.pk %}" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a><td>
	    		</tr>
	    		{% endfor %}
	    		{% if not employees %}
	    		<tr>
	    			<td colspan="3">No employees found.</td>
	    		</tr>
	    		{% endif %}
	    	</tbody>
	    </table>
	
        <script src="" async defer></script>
    </body>
</html>