<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- employee_leaves.html -->
        <h1>Leaves for {{ employee.name }}</h1>
        {% if leaves %}
          <table>
            <thead>
              <tr>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for leave in leaves %}
                <tr>
                  <td>{{ leave.date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No leaves found for {{ employee.name }}.</p>
        {% endif %}
        <a href="{% url 'add-leave-hallemployee' employee.pk %}">Add Leave</a>
        <script src="" async defer></script>
    </body>
</html>