{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <p>WELCOME TO HMS!</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <script src="" async defer></script>
        <div>
            {%if messages%}
                {%for message in messages%}
                    {{message}}
                {%endfor%}
            {%endif%}
        </div>
    </body>
</html>